@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.test{
  color: violet;
  padding: 1rem;
  background-color: red;
}

