@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap");

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer utilities {
  .max-width {
    max-width: 1100px;
    margin: 0 auto;
  }
  .absolute-center {
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .box-shadow{
    box-shadow:#1c1c1c14 0px 2px 8px;
  }
  .collection-shadow{
    box-shadow:#00000014 0px 3px 12px;
  }
  .tab-options{
    box-shadow: #e8e8e8 0px -0.5px 0px inset;
  }

  .bg-gradient{
    background:linear-gradient(0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.05) 50%,
      rgba(0, 0, 0, 0.05) 85%);
  }
  .heading {
    font-size: 30px;
    color: #1c1c1c;;
    margin-bottom: 32px;
    font-weight: 500;
  }
  
}
.slick-next::before,
.slick-prev::before {
  color: #cfcfcf;
  font-size: 30px;
  // box-shadow:#1c1c1c14 0px 2px 8px;
}
